.corpo {
  position: fixed;
left: 0%;
top: 7%;
height: 94%;
width: 100%;
background: #dbdbdb;

}
.cabec {
      position: fixed;
      top: -0.1%;
    left: 0%;
    height: 7.1%;
    width: 100%;
    background: #1d9329; /* Old browsers */
}
.left {
    position:fixed;
    top: -0.1%;
    left:0%;
    height: 100%;
    width: 3.5%;
    z-index: 1;

}
