.corpo{
      position: fixed;
    left: 3.5%;
    top: 7%;
    height: 94%;
    width: 97%;
    background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(128,135,128,1) 86%, rgba(133,135,133,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(27%, rgba(255,255,255,1)), color-stop(86%, rgba(128,135,128,1)), color-stop(100%, rgba(133,135,133,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(128,135,128,1) 86%, rgba(133,135,133,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(128,135,128,1) 86%, rgba(133,135,133,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(128,135,128,1) 86%, rgba(133,135,133,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(128,135,128,1) 86%, rgba(133,135,133,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#858785', GradientType=1 );



}
.cabec{
      position: fixed;
      top: -0.1%;
    left: 3.5%;
    height: 7.1%;
    width: 97%;
    background: #1d9329; /* Old browsers */
background: -moz-linear-gradient(top, #1d9329 0%, #22b727 42%, #1fc427 61%, #c4c4c4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1d9329 0%,#22b727 42%,#1fc427 61%,#c4c4c4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1d9329 0%,#22b727 42%,#1fc427 61%,#c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d9329', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

}
.left{
    position:fixed;
    top: -0.1%;
    left:0%;
    height: 100%;
    width:3.5%;
    z-index: 1;

}
